@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }

  .section {
    padding-top: 10px;
  }
}

.hero-body {
  align-items: center;
}

.hero-frontpage {
  margin-top: -1em;
  background-image: url("../images/oekoclean_stue.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media screen and (max-width: 450px) {
  .hero-frontpage {
    background-image: url("../images/oekoclean_stue_small.jpg");
    background-position: center;
  }
}

.hero-frontpage .title {
  font-size: 5em;
  background-color:rgba(255, 255, 255, 0.8)
}

.hero-frontpage .subtitle {
  font-size: 2em;
  background-color:rgba(255, 255, 255, 0.8)
}

@media screen and (max-width: 450px) {
  .hero-frontpage .title {
    font-size: 3em;
  }
  .hero-frontpage .subtitle {
    font-size: 1.5em;
  }
}

.nav {
  margin-bottom: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.nav-item a, a.nav-item {
  font-size: 1.3em;
}

.nav-item a, a.nav-brand {
  font-size: 1.8em;
  color: green;
}

.nav-item a, a.nav-brand:hover {
  color: green;
}

.content h1 {
  margin-bottom: 1em;
}

.content {
  margin-bottom: 2em;
}

.image.is-2by1 {
  margin-top: -1em;
  margin-bottom: 2em;
}

.is-cta {
  cursor: pointer;
}

.footer-text {
  text-transform: uppercase;
}

.button.is-primary:hover {
  background-color: #029100;
}

.textarea {
  min-height: 200px;
}

.thank-you {
  margin-top: -1em;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: white;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px green;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px green;
  }
}

.is-100x100 {
  height: 100px;
  width: 100px;
  margin: auto;
  width: 50%;
}
