<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kontakt - Øko Clean</title>
  <meta name="description" content="Har du spørgsmål, eller ønsker du et uforpligtende tilbud på en rengøringsopgave? ">
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/master.css">
</head>
<body>
  <div id="app">
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a href="index.html" class="nav-item nav-brand">Øko Clean</a>
        </div>

        <label for="menu-toggle" class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <input type="checkbox" id="menu-toggle" class="is-hidden"/>

        <div class="nav-right nav-menu">
          <a href="hvorfor-oekologisk-rengoering.html" class="nav-item">Hvorfor økologi?</a>
          <a href="rengoering-tilbud.html" class="nav-item">Vi tilbyder</a>
          <a href="om-oekoclean.html" class="nav-item">Om os</a>
          <a href="kontakt.html" class="nav-item is-active">Kontakt</a>
        </div>
      </div>
    </nav>

    <section class="section" id="form-section">
      <div class="container">
        <div class="content is-medium">
          <h1>Kontakt</h1>
          <p class="is-hidden-mobile">
            Har du spørgsmål, eller ønsker du et uforpligtende tilbud på en rengøringsopgave? Udfyld formularen nedenfor - så kontakter vi dig hurtigst muligt.
          </p>

          <form id="gform" action="https://script.google.com/macros/s/AKfycbyzWl7mp41uJh-2pQMMNzUgJwh2HCSwFsHXeeBz9egUGubRmMA/exec" method="POST">
            <label class="label">* Navn</label>
            <p class="control">
              <input class="input is-large" type="text" name="navn" placeholder="Dit navn" autofocus v-model="form.name" required>
            </p>

            <label class="label">* E-mailadresse eller telefonnummer</label>
            <p class="control">
              <input class="input is-large" type="text" name="kontakt information" placeholder="Din e-mailadresse eller dit telefonnummer" v-model="form.contactInfo" required>
            </p>

            <label class="label">* Besked</label>
            <p class="control">
              <textarea class="textarea is-large" name="besked" placeholder="Din besked" v-model="form.message" required></textarea>
            </p>

            <p class="control">
              <input type="submit" value="Send besked" class="button is-large is-primary" :disabled="!formValid">
            </p>
          </div>
        </form>
      </div>
    </section>

    <section class="hero is-primary is-large has-text-centered thank-you" id="thankyou_message" style="display:none;">
      <div class="hero-body">
        <div class="container">
          <figure class="image is-100x100">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
          </figure>

          <h1 class="title">
            Tak for din henvendelse!
          </h1>
          <h2 class="subtitle">
            Vi vender tilbage med svar snarest muligt.
          </h2>
        </div>
      </div>
    </section>

    <footer-view></footer-view>
  </div>

  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>
  <script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-97071629-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
